#page-login {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    #login-container {
        width: 360px;
        max-width: 90%;
        text-align: center;
    }

    #logo {
        width: 285px;
        margin-bottom: 4.118rem;
    }

    .title {
        width: 160px;
        margin: 0 auto;
        font-size: 1.6rem;
        font-weight: bold;
        letter-spacing: -1.2px;
        margin-bottom: 1.563rem;
    }

    .description {
        font-size: 17px;
        line-height: 1.48;
        letter-spacing: 0.2px;
    }

    .btn-login {
        width: 90%;
        height: 53px;
        border-radius: 3.6px;
        font-size: 1.125rem;
        font-weight: bold;
        box-shadow: none;
    }

    .msg-error {
        font-size: 12.2px;
        line-height: 1.95;
        letter-spacing: -0.17px;
        text-align: center;
        margin-bottom: 10px;
        margin-top: -10px;
        color: #ff0f44;
        opacity: 0;
        transition: opacity 250ms;
    }

    .error-input {
        position: absolute;
        right: 16px;
        top: 12px;
        border-radius: 50%;
        width: 23px;
        height: 24px;
        background-color: #ff0f44;
        opacity: 0;

        &::after {
            content: '!';
            color: #FFFFFF;
            font-size: 16px;
        }
    }

    .loader {
        position: fixed;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(1px);
        background-color: rgba(255, 255, 255, 0.6);
        z-index: -1;
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: opacity 250ms;

        &.active {
            opacity: 1;
            z-index: 2;
        }

        .preloader-wrapper {
            width: 132px;
            height: 132px;

            .circle-clipper .circle {
                border-width: 12px;
            }
        }
    }

    form.error {
        .msg-error {
            opacity: 1;
        }

        .btn-login {
            pointer-events: none;
            background-color: #748383;
            opacity: 0.56;
            cursor: default;
        }

        .error-input {
            opacity: 1;
        }

        .review-password-wrapper {
            display: none;
        }
    }

    .review-password-wrapper {
        position: absolute;
        right: 16px;
        top: 10px;
        color: rgba(0, 0, 0, 0.54);
        cursor: pointer;
    }
}

@media only screen and (max-height: 550px) {
    #page-login {
        align-items: flex-start;
    }
    
    #login-container {
        padding-top: 30px;
    }
}