#root {
    display: flex;
    flex-direction: column;
}

.default-container {
    #search-msg-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        font-size: 2rem;

        #not-found-msg {
            color: #b5b4b4;
        }
    }
}

@media only screen and (max-width: 600px) {
.default-container #search-msg-wrapper {
        font-size: 1.5rem;
    }
}