.enterprise {
    width: 100%;

    &.waves-effect {
        display: flex;
    }

    .enterprise-photo-wrapper img {
        width: 18.313rem;
        height: 10rem;
        display: block;
    }

    .enterprise-info-wrapper {
        padding: 1.47rem 2.4rem;
        color: #8d8c8c;
        
        .enterprise-name {
            font-size: 1.875rem;
            font-weight: bold;
            color: #1a0e49;
            margin: 0;
        }

        .enterprise-type {
            font-size: 1.5rem;
        }

        .enterprise-country {
            font-size: 1.125rem;
        }
    }
}


@media only screen and (max-width: 600px) {
    .enterprise {
        flex-direction: column;

        .enterprise-photo-wrapper img {
            width: 100%;
            height: auto;
        }

        .enterprise-info-wrapper {
            padding-left: 0;
            padding-bottom: 0;
        }
    }
}