#detail {
    nav {
        .brand-logo {
            left: 0;
            transform: none;
            text-transform: uppercase;
        }

        .back-icon {
            font-size: 2.65rem;
            line-height: 9.438rem;
            height: 9.438rem;
            margin-left: 3.438rem;
            margin-right: 5rem;
        }
    }

    #enterprise {
        padding: 3rem 4.563rem;

        .photo {
            max-width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;
        }

        .description {
            font-size: 2.125rem;
            color: #8d8c8c;
            margin: 3rem 0.625rem;
        }
    }
}

@media only screen and (max-width: 600px) {
    #detail {
        nav {
            .brand-logo {
                font-size: 1.5rem;
            }

            .back-icon {
                line-height: 5rem;
                height: 5rem;
                font-size: 2.5rem;
                margin-left: 1rem;
                margin-right: 1.5rem;
            }
        }

        #enterprise {
            padding: 1.3rem 1.563rem;

            .description {
                margin-top: 1rem;
                margin-bottom: 1rem;
                font-size: 1.5rem;
            }
        }
    }

}