$primary-color: #57bbbc;
$secondary-color: #ee4c77;

$font-stack: Roboto, sans-serif !default;
$off-black: #383743 !default;
$button-raised-background: $primary-color !default;
$spinner-default-color: $primary-color;

// Materialize Styles
@import '~materialize-css/sass/materialize.scss';

html, body, #root {
    height: 100%;
}

body {
    background-color: #ebe9d7;
}

nav {
    background: #ee4c77;
    background: linear-gradient(180deg, #ee4c77, #c03d68);
    box-shadow: none;
    height: 9.438rem;
    line-height: 9.438rem;

    .nav-wrapper  {
        &.show-search #logo-wrapper,
        &:not(.show-search) .input-field {
            opacity: 0;
            z-index: -1;
        }

        #logo-wrapper {  
            opacity: 1;
            z-index: 0;
            transition: opacity 350ms ease;

            .brand-logo #logo {
                height: 3.563rem;
                vertical-align: middle;
            }
            
            i {
                font-size: 54px;
                line-height: 9.438rem;
                height: 9.438rem;
            }
        }

        .input-field {
            opacity: 1;
            z-index: 0;
            position: absolute;
            width: 100%;
            transition: opacity 250ms;

            input[type=search] {
                padding-left: 5rem;
                color: #FFFFFF;
                font-size: 2.625rem;
                width: calc(100% - 5rem);

                ~ .material-icons {
                    color: #FFFFFF;
                }

                &:focus:not(.browser-default) {
                    background-color: transparent;
                    color: #FFFFFF;

                    + label i,
                    ~ .material-icons {
                        color: #FFFFFF;
                    }

                }

                &::placeholder {
                    color: #570a1f;
                    font-size: 2.625rem;
                }

                + label i {
                    color: #FFFFFF;
                }

                + label i,
                ~ .material-icons {
                    font-size: 2.5rem;
                    line-height: 9.438rem;
                    height: 9.438rem;
                }

                
            }
        }
    }
}

.input-field .prefix {
    color: $secondary-color;

    ~ input {
        margin-left: 0;
        width: 100%;
        padding-left: 3rem;
        box-sizing: border-box;
    }
}
.card-panel {
    box-shadow: none;
    border-radius: 4.7px;
}

.default-container {
    padding: 2.25rem 3.125rem;
    flex-grow: 1;
}

::placeholder {
    color: #383743;
    opacity: 0.5;
    letter-spacing: -0.25px;
    font-size: 1.125rem;
}

@media only screen and (max-width: 600px) {
    nav {
        height: 5rem;
        line-height: 5rem;
        
        .nav-wrapper {
            .input-field input[type=search] {
                + label i,
                ~ .material-icons {
                    line-height: 5rem;
                    height: 5rem;
                }
            }

            #logo-wrapper {
                .brand-logo #logo {
                    height: 2.7rem;
                }

                i {
                    font-size: 2.5rem;
                    line-height: 5rem;
                    height: 5rem;
                    margin: 0;
                }
            }
        }
    }

    .default-container {
        padding: 1.25rem 1.825rem;
    }

    nav .nav-wrapper .input-field input[type=search],
        nav .nav-wrapper .input-field input[type=search]::placeholder  {
        font-size: 1.625rem;
    }

}